.the-table {
    background-color: #004b00;
    border-radius: 20px;
    margin-top: 30px;
    padding: 24px 0px;
    border: 3px solid darkgoldenrod;
    box-shadow: 2px 2px 8px black;
}

.card {
    color: black;
    background-color: white;
    height: 120px;
    background: url('../images/cards.gif');
    background-size: 1122px 604px;
    background-repeat: no-repeat;
    background-position: -1px -484px;
}

.col-sm-2.card {
    width: 11%;
    margin: 10px;
}

.card-empty {
    background: #ddd;
    border: dashed 1px black;
}

.totals {
    width: 100px;
}
.totals span {
    font-size: 20px;
}

.action-buttons button {
    width: 100%;
    background-color: darkred;
    color: white;
    box-shadow: 2px 2px 5px black;
}

#message {
    font-size: 40px;
    color: white;
    padding-top: 10px;
}