.the-table {
    background-color: #004b00;
    border-radius: 20px;
    margin-top: 30px;
    padding: 24px 0px;
    border: 3px solid darkgoldenrod;
    box-shadow: 2px 2px 8px black;
}

.card {
    color: black;
    background-color: white;
    height: 120px;
    background: url('../images/cards.gif');
    background-size: 1122px 604px;
    background-repeat: no-repeat;
    background-position: -1px -484px;
    text-align: center;
}

.col-sm-2.card {
    width: 85px;
    margin: 10px;
}

.card-empty {
    background: #ddd;
    border: dashed 1px black;
}

/*.totals {
    width: 250px;
}*/
.totals span {
    font-size: 20px;
    height: 20px;
}

.action-buttons button {
    width: 80%;
    background-color: darkred;
    color: white;
}

#message {
    font-size: 40px;
    color: white;
}

.reset {
    margin-left: 32px;
}
.reset button {
    color: black;
}

button {
    box-shadow: 2px 2px 5px black;
    border: 2px solid white !important;
}

.panel {
    margin-top: 14px;
}

.notify {
    height: 100px;
    padding: 25px; 
}